@page
@model johnsommerville.com.Pages.ExperienceModel
@{
    ViewData["Title"] = "Experience";
}
<h1>Experience</h1>

@foreach (var employer in Model.Employers.OrderByDescending(u => u.StartDate))
{
    <div class="container">
        <h2>@employer.JobTitle</h2>
        <h3>@employer.EmployerName</h3>
        <h3>@employer.Location</h3>
        <h3>@employer.StartDate.ToString("MMMM yyyy") - @(employer.EndDate.HasValue ? employer.EndDate.Value.ToString("MMMM yyyy") : "Current")</h3>
        @if (employer.Responsibilities != null && employer.Responsibilities.Count() > 0)
        {
            <h3>Roles and Responsibilities</h3>
            <ul>
                @foreach (var responsibility in employer.Responsibilities)
                {
                    <li>@responsibility</li>
                }
            </ul>
        }
        @if (employer.Accomplishments != null && employer.Accomplishments.Count() > 0)
        {
            <h3>Projects and Accomplishments</h3>
            <ul>
                @foreach (var accomplishment in employer.Accomplishments)
                {
                    <li>@accomplishment</li>
                }
            </ul>
        }
    </div>
    <br />
    <br />

}
