@page
@model johnsommerville.com.Pages.ExperienceModel
@{
    ViewData["Title"] = "Experience";
}
<h1 class="display-4">Experience</h1>

@foreach(var employer in Model.Employers.OrderByDescending(u => u.StartDate))
{
<div class="container">
    <div class="h2">@employer.JobTitle</div>
    <div class="h3">@employer.EmployerName</div>
    <div class="h3">@employer.Location</div>
    <div class="h3">@employer.StartDate.ToString("MMMM yyyy") - @(employer.EndDate.HasValue ? employer.EndDate.Value.ToString("MMMM yyyy") : "Current")</div>
    @if (employer.Responsibilities != null && employer.Responsibilities.Count() > 0)
    {
    <div class="h3">Roles and Responsibilities</div>
    <ul>
        @foreach (var responsibility in employer.Responsibilities)
        {
            <li>@responsibility</li>
        }
    </ul>
    }
    @if (employer.Accomplishments != null && employer.Accomplishments.Count() > 0)
    {
    <div class="h3">Projects and Accomplishments</div>
    <ul>
        @foreach (var accomplishment in employer.Accomplishments)
        {
            <li>@accomplishment</li>
        }
    </ul>
    }
</div>
    <br/>
}
